*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html, body { height: 100%; }

html {
   box-sizing: border-box;
   
   color: #575757;
   font-size: 62.5%;
   font-family: "Lato", sans-serif;
}

body {
   background-image: linear-gradient(to right bottom, #00ff7f, #00ffd5);
}

.contact-form {
   top: 50%;
   left: 50%;
   padding: 3rem;
   border-radius: 3px;
   position: absolute;
   background-color: #fff;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 4rem rgba(0, 0, 0, .2);
}

.contact-form .contact-form__input-group:not(:last-child) {
   margin-bottom: 2rem;
}

.contact-form__label {
   display: block;
   font-size: 1.2rem;
   margin-bottom: .5rem;
   text-transform: uppercase;
}

.contact-form__control {
   width: 100%;
   border: none;
   color: inherit;
   color: #929292;
   padding: 1rem 2rem;
   border: 1px solid #e7e7e7;
   background-color:#f9f9f9;
}

.contact-form__button {
   width: 100%;
   border: none;
   cursor: pointer;
   outline: none;
   height: 4rem;
   color: #7c7c7c;
   background-color: #cfcfcf;
}

.spinner {
   width: 3rem;
   display: block;
   margin: 0 auto 1.2rem auto;
}